* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --primary-yellow: #fa941b;
  --primary-blue: #2835ac;
}
body {
  font-family: "Roboto";
}
.header {
  height: 44px;
  width: 320px;
  background-color: var(--primary-yellow);
  /* grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 218px;
  grid-row-gap: 0px;
}
.header__link {
  height: 44px;
}
.header__link--logo {
  width: 44px;
}
.header__link--logout {
  width: 24px;
}
.header__logo {
  height: 40px;
  width: 40px;
  margin: 2px 0px 2px 18px;
}
.header__logout {
  height: 24px;
  width: 24px;
  margin: 10px 20px 10px 0px;
}
.menu {
  height: 49px;
  width: 320px;
  border-bottom: 1px solid #dfdfdf;
}
.menu__items {
  margin: 0px 19px 0px 20px;

  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 93px);
  grid-template-rows: 49px;
  grid-column-gap: 1px;
  background-color: #dfdfdf;
}
.menu__item {
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  text-align: center;
  color: #7a7a7a;
  background-color: #ffffff;
  cursor: pointer;
}

/* .menu__item--buddy {
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom: none;
} */
/* ask here */
/* right cizik */
/* whole page grid or can i divide  */

.menu__item--isActive {
  background-color: var(--primary-blue);
  color: #ffffff;
}
.menu__item__text {
  height: 17px;
  margin: 0px 0px 3px;
}
.menu__item__image {
  height: 17px;
  width: 18px;
  margin: 7px 40px 0px 35px;
  margin-bottom: 0px;
}
.profile {
  margin: 17px 29px;
  display: grid;
  grid-template-columns: 86px repeat(2, 35px);
  grid-template-rows: 86px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* .profile__photo {
} */

.profile__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #7a7a7a;
}
.profile__text--name {
  color: var(--primary-blue);
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
}
.profile__info {
  height: 40px;
  /* border: 1px solid black; */
}
.profile__info--self {
  width: 35px;
  margin: auto 0px auto 10px;
}
.profile__info--buddy {
  width: 87px;
  margin: auto 0px auto 46px;
}

.section__mood {
  position: absolute;
  width: 320px;
}
.section__mood__background {
  width: 332px;
  height: 243px;
  position: absolute;
  left: -6px;
  z-index: 1;
  transform: rotateZ(-2deg);
  background-color: rgba(250, 150, 27, 0.1);
}

.mood__title {
  margin: 25px 177px 0px 21px;
  text-align: center;
}
.mood__title__text {
  position: relative;
  color: #333333;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  z-index: 3;
}
.background-leaf {
  z-index: 2;
  position: absolute;
  right: 2.6px;
  top: 15.35px;
}
.mood__frame {
  width: 273px;
  height: 154px;
  margin: 8px auto 30px;
  position: relative;
  z-index: 3;
  background-color: var(--primary-yellow);
  border: 1px solid #fa941b;
  border-radius: 5px;
}
.mood__frame__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin: 8px auto;
}
.mood__frame__inner {
  width: 261.23px;
  height: 112.14px;
  background: #ffffff;
  border-radius: 5px;
  margin: 7px auto;
}
.mood__frame__inner__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  text-align: center;
}
.mood__frame__inner__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #7a7a7a;
  text-align: left;
  margin: 0 16px;
  text-align: start;
}
.mood__frame__inner__smiles {
  margin: 14px 17px 19px 14px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  /* grid-column-gap: 15px; */
}
.smile {
  /* align-items: space; */
  margin: 0px auto;
}
/* .smile__image {
  height: 25px;
  width: 26px;
} */
