* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --primary-yellow: #fa941b;
  --primary-blue: #2835ac;
}

.header {
  height: 44px;
  width: 320px;
  background-color: var(--primary-yellow);
  /* grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 218px;
  grid-row-gap: 0px;
}
.header__link {
  height: 44px;
}
.header__link--logo {
  width: 44px;
}
.header__link--logout {
  width: 24px;
}
.header__logo {
  height: 40px;
  width: 40px;
  margin: 2px 0px 2px 18px;
}
.header__logout {
  height: 24px;
  width: 24px;
  margin: 10px 20px 10px 0px;
}
.menu {
  height: 49px;
  width: 320px;
  border-bottom: 1px solid #dfdfdf;
}
.menu__items {
  margin: 0px 19px 0px 20px;

  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 93px);
  grid-template-rows: 49px;
  grid-column-gap: 1px;
  background-color: #dfdfdf;
}
.menu__item {
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
  text-align: center;
  color: #7a7a7a;
  background-color: #ffffff;
}

/* .menu__item--buddy {
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom: none;
} */
/* ask here */
/* whole page grid or can i divide  */
.menu__item--isActive {
  background-color: var(--primary-blue);
  color: #ffffff;
}
.menu__item__text {
  height: 17px;
  margin: 0px 0px 3px;
}
.menu__item__image {
  height: 17px;
  width: 18px;
  margin: 7px 40px 0px 35px;
  margin-bottom: 0px;
}
.profile {
  margin: 17px 29px;
}

